{{>layout/header}}

<h1>{{post.title}}</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <table>
            <tbody id="tbody">
            <tr>
                <th>작성자 : {{post.author}}</th>
            </tr>
            <tr>
                <td>내용 : {{post.content}}</td>
            </tr>
            </tbody>
        </table>
        <a href="/" role="button" class="btn btn-secondary">뒤로가기</a>
        <a href="/posts/update/{{post.id}}" role = "button" class = "btn btn-secondary">수정 및 삭제</a>

        {{>comment/form}}
        {{>comment/list}}

    </div>
</div>


{{>layout/footer}}
