<div class="card">
    <div class="card-header bi bi-chat-dots"> {{#comment.size}}{{comment.size}}{{/comment.size}} Comments</div>
    {{! 댓글내용 부분 }}
    <ul class="list-group-flush">
        {{#comment}}
            <li class="list-group-item">
            <li class="list-group-item">
                <span>
                    <span style="font-size: small">{{id}}</span>
                </span>
                <div>작성자 : {{userName}}</div>
                <div>내용 : {{comment}}</div>
                <button type="button" id="btn-comment-delete" class="btn btn-outline-primary bi bi-pencil-square" data-post-id="{{post.id}}" data-comment-id="{{id}}"> 댓글 삭제</button>
            </li>
        {{/comment}}
    </ul>
</div>
